body {
	background-color: white;
	font-family: Open Sans, sans-serif;
	font-size: 100%;
	padding: 0;
	margin: 0;
	color: rgb(33, 33, 33);
}
header {
	background: url(../Images/Header.png) no-repeat center top / cover;
	height: 774px;
	max-width: 100%;
}
.container {
	max-width: 1170px;
	margin: 0 auto;
}
a {
	color: black;
	text-decoration: none;
}
h1 {
	padding: 0;
	margin: 0;
	font-size: 3.750em;
	font-weight: 500;
}
h2 {
	font-size: 1.875em;
}
h3 {
	font-size: 1.25em;
	letter-spacing: 1px;
}
p {
	font-size: 1em;
}		
/*Navigation
_____________________________________________________________________________________*/

nav {
	border-bottom: 1px grey solid;
	position: fixed;
	left: 0;
	right: 0;
	background-image: url(../images/gradient.jpg);
	height: 117px;
	background-color: darkgray;
}
.logo {
	font-family: IBM Plex Serif, serif;
	margin-left: 20px;
	z-index: 100;
	margin-top: 30px;
	float: left;
	font-weight: bold;
	font-size: 35px;
	color: white;

}
ul {
	margin-right: 20px;
	margin-top: 45px;
	float: right;
	list-style-type: none;
}
li {
	font-size: 20px;
	display: inline;
}
li a {
	font-weight: 500;
	font-size: 20px;
	margin-left: 29px;
	text-decoration: none;
	color: white;
	letter-spacing: 1px;
	transition: all 0.3s ease;
}
li a:hover {
	background-color: #5b5b5b;
	border-top: groove 1px white;
	border-bottom: groove 1px white;

}
li img {
	padding-left: 24px;

}
#Service, #About, #Home, #Team {
	background-color: #00897b;
}

/*About
_____________________________________________________________________________________*/

.About {
	background: white;
	height: 770px;
}

.textAbout {
	text-align: center;
	padding-top: 210px;
}	
.title {
	max-width: 100%;
	margin: auto;
	padding-top: 315px;
	text-align: center;
	color: white;
}

									    /*BUTTONS
_______________________________________________________________________________________*/

.buttons {
	display: flex;
	margin: auto;
	max-width: 459px;
	text-align: center;

}
.button {
	border: white solid 3px;
	text-transform: uppercase;
	font-size: 20px;
    font-family: "Roboto", sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    width: 218px;
    height: 65px;
    display: block;
    text-align: center;
    padding: 14px;
    box-sizing: border-box;
    margin: 21px;
    transition: all 0.3s ease;
}
.button:hover {
	background-color: #00897b;
	border: #00897b solid 3px;
}
/*_____________________________________________________________________________________*/

.icons {
	width: 1054px;
	text-align: center;
	margin-top: 120px;
}
.icon {
	width: 260px;
	float: left;
	text-align: center;
}
.icon:last-child {
	float: right;
}
.icon:nth-child(2) {
	margin-left: 133px
}
/*Services
_____________________________________________________________________________________*/

.Services {
	background-color: black;
	height: 1400px;
}
.textServices {
	color: white;
	text-align: center;
	padding-top: 180px;
	margin-bottom: 78px;
}
.sticky {
	position: sticky;
	top: 0px;
}
.cards {
	background-color: white;
	box-sizing: border-box;
	text-align: center;
	width: 370px;
	height: 438px;
	margin: 15px;
	padding: 50px;
	transition: all 0.3s ease;
	border-radius: 7px;
}
.cards p {
	width: 250px;
}
.lineofcards {
	display: flex;
}
.cards .button {
	border: black solid 2px;
	width: 147px;
	margin: 43 auto;
	color: black;
	font-weight: lighter;

}
.cards:hover {

	background-color: #00897b;
	/*margin: 10 20 20 10;
	padding: 50px;*/
	box-shadow: 3px 4px 5px rgba(12, 99, 90, 0.8);
	transform: translate(-5px,-5px);
	z-index: 1;
		
}
/*Team
_____________________________________________________________________________________*/
.teammembers {
	height: 500px;
}
.teammember {float: left;
	height: 320px;
	width: 370px;
	
}
.teammember:nth-child(1) {
	background: url(../Images/foto1.png) no-repeat;
	

}
.teammember:nth-child(1):hover {
	background: url(../Images/foto1-changed.png) no-repeat;
}

.teammember:nth-child(2) {
	background: url(../Images/foto2.png) no-repeat;
	margin: 0 20;

}
.teammember:nth-child(2):hover {
	background: url(../Images/foto2-changed.png) no-repeat;
}
.teammember:nth-child(3) {
	background: url(../Images/foto3.png) no-repeat;
	

}
.teammember:nth-child(3):hover {
	background: url(../Images/foto3-changed.png) no-repeat;
}
.rectangle {
	border: red solid 1px;
	background-color: blue;
	width: 370px;
	height: 667px;
	box-shadow: 

}
.rectangle2 {
	background-image: url(../Images/rectangle.png);
	height: 209px;
}

#bb {
	z-index: 999;
}
.textTeam {
	color: black;
	text-align: center;
	padding-top: 180px;
	margin-bottom: 78px;
}
@media screen  and (max-width:500px) {
	.buttons {
		display: block;
		max-width: none;
		text-align: center;
			}
	.button {
		margin: 11px auto;
	}
	}
.logo a {
	color: white;
}	